@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h1 {
  font-family: "PT Serif", serif;
}

.animationButton:hover {
  animation: pulse 1s infinite;
}

.bg__img__header {
  background: linear-gradient(
    155deg,
    #ff8487 11.27%,
    rgba(255, 255, 255, 0) 84.32%
  );

  position: absolute;
  border-radius: 100%;
}

.bg__img__header2 {
  background: linear-gradient(
    323deg,
    #ff5053 7.42%,
    rgba(255, 255, 255, 0) 52.36%
  );

  position: absolute;
  border-radius: 100%;
}

.papa {
  background-image: url("/images/prueba.png");
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.descriptionEmergencies {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.descriptionEmergencies2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.descriptionEmergencies3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.fondoSusana {
  background: linear-gradient(0deg, #024f3c 0.19%, rgba(2, 79, 60, 0) 50.03%);
}

.effect__hover {
  position: relative;
  text-decoration: none;
}

.effect__hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #024f3c;
  bottom: -1.8px;
  left: 0;
  transition: width 0.3s;
}

.effect__hover:hover::after {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}
